h1 {
  font-size: 72px;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-size: 64px;
  font-weight: 400;
  margin-top: 0;
}

h3 {
  font-size: 36px;
  font-weight: 400;
  margin-top: 0;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}

h6 {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
}
